body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,227,252,1) 100%);
  overflow: hidden;
}

h1 {
  color: white;
  font-size: 2em;
  text-align: center;
}

div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

iframe {
  margin: 0 auto;
  display: none;
  border-style:none;
}